.video-container {
  width: 100%;
  min-height: 100%;
  margin: 0 auto 20px;
  scroll-snap-align: start;
  position: relative;
}

.video-container video {
  width: 100%;
  height: 100%;
}

.video-container .control-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  z-index: 11;
  top: 20px;
  right: 20px;
  left: 20px;
}

.control-container button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.control-container button svg {
  width: 22px;
  height: 22px;
  fill: #fff;
}

body {
  overflow-y: hidden;
}
#custom-seekbar {
  width: 100%;
  height: 3px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  background: #fff;
}

#custom-seekbar span {
  background-color: #f00;
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  width: 0px;
}

.animate-play-pause {
  color: #fff;
}

.animate-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  animation: 1.5s ease-in forwards FadeOut;
  text-align: center;
}

.animate-icon svg {
  width: 25px;
  height: 25px;
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes FadeOut {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2);
  }
}